Segmentation fault if the password begins with ? or / or # 

These URLs cause a segmentation fault:
- http://test:?test@example.com
- http://test:/test@example.com
- http://test:#test@example.com

The error appears if the password begins with a delimiter defined in [RFC3986, section 3.2](http://tools.ietf.org/html/rfc3986#section-3.2):

```
The authority component is preceded by a double slash ("//") and is
terminated by the next slash ("/"), question mark ("?"), or number
sign ("#") character, or by the end of the URI.
```
